USE [master]
GO
/****** Object:  Database [DBLOGIN]    Script Date: 6/28/2025 12:40:32 PM ******/
CREATE DATABASE [DBLOGIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBLOGIN', FILENAME = N'D:\SOFTWERE\SQL SERVER MICROSOFT\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBLOGIN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBLOGIN_log', FILENAME = N'D:\SOFTWERE\SQL SERVER MICROSOFT\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBLOGIN_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBLOGIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBLOGIN]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 6/28/2025 12:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](50) NULL,
	[INSTRUCTOR] [varchar](50) NULL,
	[PRICE] [int] NOT NULL,
	[YOUTUBEID] [nvarchar](100) NOT NULL,
	[ADDEDBY] [nchar](50) NULL,
	[THUMBNAIL] [image] NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASES]    Script Date: 6/28/2025 12:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[PURCHASE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[signup_info]    Script Date: 6/28/2025 12:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[signup_info](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserType] [varchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[Balance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_signup_info_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURCHASES] ADD  DEFAULT (getdate()) FOR [PURCHASE_DATE]
GO
ALTER TABLE [dbo].[signup_info] ADD  CONSTRAINT [DF_signup_info_Points]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_INSTRUCTOR] FOREIGN KEY([INSTRUCTOR])
REFERENCES [dbo].[signup_info] ([Username])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_INSTRUCTOR]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK__PURCHASES__COURS__5DCAEF64] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([ID])
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK__PURCHASES__COURS__5DCAEF64]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_COURSE_ID] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([ID])
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_COURSE_ID]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_USERNAME] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[signup_info] ([Username])
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_USERNAME]
GO
USE [master]
GO
